<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>
<IfModule mod_headers.c>
  Header append Vary User-Agent
</IfModule>

#AllowEncodedSlashes On


# CRM redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^crm\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/ls/?&wa=wsignin1.0&wtrealm=urn:federation:MicrosoftOnline&wctx=LoginOptions\%3D3\%26estsredirect\%3d2\%26estsrequest\%3drQIIAZ1SP2gTURi_a9rShg6hFHEROtjgcnfv3r13uRwETZM2NPQS2xzG3PZy711yae4uvlyatIMiqCAUdHJwERw7iouOgg6dipsdBUGcHB09i3WqUIVv-X7f7_v_SwvmlW4cD4amokQD2eUBluleSALfHcpuFCh8MZ358O7xwYsn760311Ld-5nXHw_F0lmO249GlDPqc-bGET-nQEUpjuLu9m-KshFSNpHJcDA5FsWvongytdAcrjPKOIn9KHye-jQ14IXx0PsDZXlQOG23opEV6CV23qAJnOWjixEp88ioH59OkeV7_5GUECLe8WkB5TFAXptIIE-IhPKUSSSXp5LGGEWIqG2MYDaMQpcVSttWs5FsKp-6sq7pOAd1DAECuZyKIJYd20K1cmtiBVuxE6xhqwFAq7ezv9lc7zvlTuzYq37NXsM1uN63eluoBjdQveyqTs9KYtXgF9-yq73N5ga07GJsNbdAvVINnF6319q30KvUVYQB0w2IJMMgbQkRCqW8iqjUBp5mYEp0ANzPqUXSJ8OY-Dy8kVyDuHK4fzyd_ja9AFLm3Fw6I1wWloUf0-LLmUQd5WcP7y4dPqod6Jfwl3vzwtGMgousHvG1eqNRGSve7R2Wa01K-s2oszvWdttu_Y6dW4WDW0EHdwq6qT6dXTiaFb7PCm_nH4gXVpaJkPZ3dV0_w-zo3_97kl6CQDUkoElQXYaqiYAJDOcn0 [R,L]

# CRM dev redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^devcrm\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://otagopolydev.crm5.dynamics.com/$1 [R,L]

# CRM uat redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^crmuat\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/ls/?wa=wsignin1.0&wtrealm=urn:federation:MicrosoftOnline&amp;wctx=wa%3Fwsilnin3.0%26aeiou%3D9%26fa%4D5275200813%26rves%3D3.2.2202.0%26wi%3DJUI%16wreply%3Dhttps%253A%252F%252Fcrmuat%252Ecrm5%252Edynamics%252Ecom [R,L]


# Lynda redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^lynda\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://shib.lynda.com/Shibboleth.sso/InCommon?providerId=http://idp.op.ac.nz/adfs/services/trust&amp;target=https://shib.lynda.com/InCommon/$1 [R,L]

# Myfiles redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^myfiles\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://connect.op.ac.nz/$1 [R,L]

# office redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^office\.op\.ac\.nz [NC,OR]
RewriteCond %{HTTP_HOST} ^office\.student\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/ls/?wa=wsignin1.0&wtrealm=urn:federation:MicrosoftOnline&amp;wctx=MEST\%3D0\%26LoginOptions\%3D2\%26wa\%3Dwsignin1.0\%26rpsnv\%3D2\%26ver\%3D6.1.6206.0\%26wp\%3DMCMBI\%26wreply\%3Dhttps\%253A\%252F\%252Fotagopoly.sharepoint.com\%252Fsites\%252Fopdocs\%252FPages\%252Fhome.aspx [R,L]


# OPDocs redirect rule NOTE: percent signs need to be escaped eg \%20 for spaces
RewriteEngine On
RewriteCond %{HTTP_HOST} ^opdocs\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/ls/?wa=wsignin1.0&wtrealm=urn:federation:MicrosoftOnline&wctx=MEST\%3D0\%26LoginOptions\%3D2\%26wa\%3Dwsignin1.0\%26rpsnv\%3D2\%26ver\%3D6.1.6206.0\%26wp\%3DMCMBI\%26wreply\%3Dhttps\%253A\%252F\%252Fotagopoly.sharepoint.com\%252Fsites\%252Fopdocs\%252FPages\%252Fhome.aspx [NE,R,L]

# O365 Mail redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^mail\.op\.ac\.nz [NC,OR]
RewriteCond %{HTTP_HOST} ^mail\.student\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://www.outlook.com/mail.op.ac.nz/  [R,L]

# StudentSupport redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^studentsupport\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ http://studentservices.op.ac.nz/$1  [R,L]

# OneDrive redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^onedrive\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://otagopoly-my.sharepoint.com/$1 [R,L]


# Promapp redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^promapp\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/ls/idpinitiatedsignon.aspx?logintoRP=https://go.promapp.com/otagopolytechnic [R,L]

# The Scopes redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^thescopes\.org [NC]
RewriteRule ^(.*)$ http://www.thescopes.org [R,L]


# Digital Signage Admin redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^digitalsignage\.op\.ac\.nz [NC]
RewriteCond %{REQUEST_URI} ^\/?manage
RewriteRule ^(.*)$ http://120.138.16.172/ [R,L]

# Digital Signage redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^digitalsignage\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ http://202.20.3.21:8026 [R,L]

# changepassword redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^changepassword\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/portal/updatepassword [R,L]

# changepassword redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.changepassword\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/portal/updatepassword [R,L]


# show me how video library - StevenT
RewriteEngine On
RewriteCond %{HTTP_HOST} ^showmehow\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://idp.op.ac.nz/adfs/ls/?wa=wsignin1.0&wtrealm=urn:federation:MicrosoftOnline&wctx=MEST\%3D0\%26LoginOptions\%3D2\%26wa\%3Dwsignin1.0\%26rpsnv\%3D2\%26ver\%3D6.1.6206.0\%26wp\%3DMCMBI\%26wreply\%3Dhttps\%253A\%252F\%252Fotagopoly.sharepoint.com\%252Fportals\%252Fhub\%252F_layouts\%252F15\%252FPointPublishing.aspx\%253Fapp\%253Dvideo\%2526p\%253Dc\%2526chid\%253D452c184b-b9e8-4447-ad08-363ac648a118\%2526s\%253D0\%2526t\%253Dpfb\%2520  [NE,R,L]


#Confernce hosted at OP for file sharing - Michelle Barron <Michelle.Barron@op.ac.nz>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^AssessingLearningConference\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://otagopoly.sharepoint.com/:f:/g/AssessingLearningConference/EmcsWyYlpKhOui7ShccQsCcBRqUhmYuQVU3k9E4vTeeM3A?e=fvOZg2  [NE,R,L]

#www.central.op.ac Redirect
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.central\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://central.op.ac.nz/$1 [R,L]

# www.auckland.op.ac.nz Redirect
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.auckland\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://auckland.op.ac.nz/$1 [R,L]

#EDUBITS Redirect
RewriteEngine On
RewriteCond %{HTTP_HOST} ^edubits\.co\.nz [NC,OR]
RewriteCond %{HTTP_HOST} ^edubit\.co\.nz [NC,OR]
RewriteCond %{HTTP_HOST} ^edubits\.ac\.nz [NC,OR]
RewriteCond %{HTTP_HOST} ^edubit\.ac\.nz [NC]
RewriteRule ^(.*)$ https://edubits.nz/$1 [R,L]

#marketing for Sports CAS-18072-B9W4S3
RewriteEngine On
RewriteCond %{HTTP_HOST} ^oae\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://www.op.ac.nz/study/physical-activity-and-wellbeing/new-zealand-certificate-in-outdoor-and-adventure-education-multi-skilled-level-4/$1 [R,L]

# ebsontrackplus redirect rule
RewriteEngine On
RewriteCond %{HTTP_HOST} ^ebsontrackplus\.op\.ac\.nz [NC,OR]
RewriteCond %{HTTP_HOST} ^ebsagent\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://ebsontrack.op.ac.nz/$1 [R,L]

# citrixweb Redirect
RewriteEngine On
RewriteCond %{HTTP_HOST} ^citrixweb\.op\.ac\.nz [NC]
RewriteRule ^(.*)$ https://opcitrixhtml5.cloud.com/$1 [R,L]


###########################################
#  CODES:  - https://httpd.apache.org/docs/2.4/rewrite/flags.html
#   [R] = redirect 
#   [L]= Last (stop reading futher rules)
#   [NC] = no case
#   [NE] = By default, special characters, such as & and ?, for example, will be converted to their hexcode equivalent. Using the [NE] flag prevents that from happening.
#   [OR] = or flag, many things can match
#   $1   = pass through the whole url e.g /hub


